@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: vazir;
    src: url(../fonts/VazirMatn/Vazirmatn-VariableFont_wght.ttf);
}

@layer base{
    :root{
        --primaryColor: #F4CE14;
        --secondaryColor: #5C8984;
        --darkMediumColor:#57595D;
        --darkColor:#45474B;
        --lightColor: #F5F7F8;
        --font-vazir: 
    }
}